<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="navigation">
        <nav>
            <img src="/images/logo.png">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="/courses">All Courses</a></li>
                <!--For guest users-->
                {{#if isAuthenticated}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Course Offers</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>
    </div>

    <main>

        <section id="all-course-page">
            <article class="all-course-title">
                <h1>All Courses</h1>
            </article>

            <!--If there are course in the database, show each one-->
            {{#each courses}}
            <article class="all-course-card">
                <article class="all-course-card-image">
                    <!-- Do not forget to change the path to the image -->
                    <img src="{{image}}">
                </article>

                <article class="all-course-card-content">
                    <!--You must put the headline value in <h2>-->
                    <h2>{{title}}</h2>
                    <!--You must put the headline value in <h3>-->
                    <h3>Type: {{type}}</h3>
                    <h3>Price: €{{price}}</h3>
                </article>

                <article class="all-course-card-buttons">
                    <a href="/details/{{_id}}" class="btn-details">Details</a>
                </article>
            </article>
            {{else}}
            <article class="not-available-courses">
                <h1>No course created yet.</h1>
            </article>
            {{/each}}
        </section>
    </main>

    <footer>Back-End 2023</footer>

</body>

</html>