<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->


    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div class="navigation">
        <nav>
            <img src="/images/logo.png">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="/courses">All Courses</a></li>
                <!--For guest users-->
                {{#if isAuthenticated}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Course Offers</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>


    <main>
        <div class="details-container">
            <div class="details-container-image">
                <img src="{{course.image}}">
            </div>
            <div class="details-container-info">
                <h2>Title: {{course.title}}</h2>
                <h3>Type: {{course.type}}</h3>
                <h3>Certificate: {{course.certificate}}</h3>
                <h3>Price: €{{course.price}}</h3>
                <h3>By: {{course.owner.email}}</h3>
                {{#if signed}}
                <h4>Signed By: {{signed}}</h4>
                {{else}}
                <h4>Nobody has signed in for this course yet</h4>
                {{/if}}
            </div>
            <div class="details-container-content">
                <p>{{course.description}}</p>
            </div>
            <div class="btn-container">
                <!-- Only for registered user and creator of the course-->
                {{#if isAuthenticated}}
                {{#if isOwner}}
                <a href="/edit/{{course._id}}">Edit</a>
                <a href="/delete/{{course._id}}">Delete</a>
                {{else}}
                {{#if isSigned}}
                <p class="sign-up">You've already signed up for this course!</p>
                {{else}}
                <a href="/sign/{{course._id}}">Sign up</a>
                {{/if}}
                {{/if}}
                <!-- logged in user who has already sign up for the course-->
                {{/if}}

            </div>
        </div>
    </main>

    <footer>Back-End 2023</footer>

</body>

</html>